body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    color: #666666;
}

.container {
    max-width: 900px;
}

.container-sm {
    max-width: 700px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', 'Roboto', 'Arial', sans-serif;
    color: #111;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

p.lead {
    font-size: 22px;
}

a {
    color:#0074D9;
}

a:hover {
    text-decoration: underline;
    color:#0074D9;
}

.btn {
    font-family: 'Karla', 'Roboto', 'Arial', sans-serif;
    border-radius: 0px;
}

section {
    padding: 60px 15px;
}

section:nth-child(even) {
    background: #f1f1f1;
}

section.hero {
    padding: 240px 15px;
}